@{


    var currSet = ViewData["CurrSet"] as PokemonTcgSdk.Models.SetData;

    var cardList = ViewData["CardList"] as List<PokemonTcgSdk.Models.PokemonCard>;

    var currSort = ViewData["CurrSort"] as string;

    //https://stackoverflow.com/questions/22715067/set-selected-radio-button-asp-net-mvc-4-razer


    var showPokemon = ViewData["ShowPokemon"] as bool?;
    var showTrainer = ViewData["ShowTrainer"] as bool?;
    var showEnergy = ViewData["ShowEnergy"] as bool?;

}

<h1>@currSet.Name   @currSet.Code</h1>
@*Need to highlight the current sort order*@
<a onclick="location.href = '@Url.Action("ResultView","Explore", new {setCode = currSet.PtcgoCode, sortOrder = "SetNumber" })&typeFilters=' + getFilter()">Set Number</a>
<a onclick="location.href = '@Url.Action("ResultView","Explore", new {setCode = currSet.PtcgoCode, sortOrder = "Name" })&typeFilters=' + getFilter()">Name</a>
<a onclick="location.href = '@Url.Action("ResultView","Explore", new {setCode = currSet.PtcgoCode, sortOrder = "PokedexNumber" })&typeFilters=' + getFilter()">Pokedex Number</a>
<br />
<input type="checkbox" value="pokemon" id="pokemonFilter" @if (showPokemon == true) { <text> checked="checked" </text> } />Pokemon
<br />
<input type="checkbox" value="trainer" id="trainerFilter" @if (showTrainer == true) { <text> checked="checked" </text> } />Trainer
<br />
<input type="checkbox" value="energy" id="energyFilter" @if (showEnergy == true) { <text> checked="checked" </text> } />Energy
<br />
<br />
<a onclick="location.href = '@Url.Action("ResultView","Explore", new {setCode = currSet.PtcgoCode, sortOrder = currSort })&typeFilters=' + getFilter()">Apply Filter</a>

<br />
<br />
<input type="text" id="searchBox" />
<input type="button" value="Search" id="searchButton" onclick="location.href = '@Url.Action("ResultView","Explore", new {setCode = currSet.PtcgoCode, sortOrder = currSort })&typeFilters=' + getFilter() + '&searchText=' + getSearchValue()" />

@*Need Message for when 0 results are returned*@
<ul>
    @foreach (var card in cardList)
    {
        <li class="w-25">
            <img src="@card.ImageUrl" onclick="location.href = '@Url.Action("CardView","Explore", new {id = card.Id })'" />
        </li>
    }
</ul>


<script>

    function getFilter() {
        var pokeFilterElem = document.getElementById("pokemonFilter");
        var trainerFilterElem = document.getElementById("trainerFilter");
        var energyFilterElem = document.getElementById("energyFilter");
        var filter = pokeFilterElem.checked ? pokeFilterElem.value : "";
        filter = filter.concat(trainerFilterElem.checked ? trainerFilterElem.value : "");
        filter = filter.concat(energyFilterElem.checked ? energyFilterElem.value : "");
        console.log(filter);
        return filter;
        location.href = '@Url.Action("ResultView","Explore", new {setCode = currSet.PtcgoCode, sortOrder = currSort })&typeFilters=' + filter;
    }

    function getSearchValue() {
        var searchValue = document.getElementById("searchBox").value;
        console.log("SearchValue: " + searchValue);
        return searchValue;
    }

</script>
